@charset "utf-8";

/* font style downloaded from internet */
@font-face {
   font-family: Cake;
   src: url(CakeFont.ttf) format('truetype');
}



/* main body styles */

body{
   color: rgb(91,91,91);
   background-color: white;
   font-family: Verdana, Geneva, sans-serif;
   overflow-x: hidden;
}

/* top banner styles: picture + title  */

body > header {
	margin: 0;
	padding: 0px;
	width: 100%;
	overflow: hidden;
}

body > header > img {
	margin: 0px;
	padding: 0px;
   width: 100%;
   opacity: 65%;
   z-index: -1;
   position: relative;
}

body > header > p {
   z-index: 1;
   position: absolute;
   top: 10%;
   font-family: Cake, sans-serif;
   font-size: 4em;
   color: black;
   display: block;
   background-color: #abdbe3;
   width: 100%;
   text-align: center;
}

/* Navigation bar Styles */

body > nav {
    position: fixed;
    font-size: 2em;
    line-height: 2em;
    background-color: #abdbe3;
    width: 15%;
	 float: left;
    top: 25%;
    z-index: -2;
 }
 
 nav > ul {
    list-style-type: none;
    padding-left: 5px;
    display: block;
    font-family: Cake, sans-serif;
 }

 .submenu {
   display: none;
 }

 nav ul li:hover ul {
   display:block;
   background: inherit;
 }

 nav > ul > li > a:visited, nav > ul > li > a:link
 {
    color: black;
    text-decoration: none;
 }
 
 nav > ul > li > a:hover, nav > ul > li > a:active
 {
    color: rgb(149, 143, 140);
    text-decoration: underline;
 }

/*footer styles */

 body > footer address{
    background-color: #abdbe3;
    color: white;
    color: rgba(109, 105, 105, 0.6);
    font: normal small-caps bold 0.9em/3em
          Nobile, Verdana, Geneva, sans-serif;
    text-align: center;
 }

 body > footer {
	 width: 100%;
    clear: left;
    position: absolute;
    bottom: 0;
}
