@charset "utf-8";

/* font style downloaded from internet */
@font-face {
  font-family: Cake;
  src: url(CakeFont.ttf) format('truetype');
}

/* main body styles */
html {
  background-image: url(backimage.jpg);
  background-repeat: repeat;
  background-size: contain;
}

body {
  color: rgb(91, 91, 91);
  background-color: white;
  font-family: Verdana, Geneva, sans-serif;
  overflow-x: hidden;
}

/* top banner styles: picture + title  */

body > header {
  border-radius: 0px 0px 20px 0px;
}

body > header > p {
  font-family: Cake, sans-serif;
  font-size: 4em;
  color: black;
  background-color: #abdbe3;
  border-radius: 100px;
}

/* Navigation bar Styles */

body > nav {
  background-color: #ffc7f6;
  border-radius:  0px 20px 20px 20px;
}

nav > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: black;
  font-family: Cake, sans-serif;
  background-color: #ffc7f6;
  border-radius: 20px;
}

nav > ul li > a:visited,
nav > ul li > a:link {
  color: black;
  text-decoration: none;
}

nav > ul li > a:hover,
nav > ul li > a:active {
  color: rgb(149, 143, 140);
  text-decoration: underline;
}

.submenu {
  font-size: 0.75em;
}

/*footer styles */

body > footer address {
  background-color: #abdbe3;
  color: white;
  color: rgba(109, 105, 105, 0.6);
  font: normal small-caps bold 0.9em/3em Nobile, Verdana, Geneva, sans-serif;
  text-align: center;
  border-radius: 100px 100px 0px 0px;
}

/* menu styles */
.wrapper .box-container .box .content .icons{
  display: flex;
  align-items: center;         
  justify-content: space-between;
  margin-top: 20px;
  padding-top: 15px;
  border-top:1px solid #000 ;
}

.wrapper .box-container .box .content .icons span{
  font-size: 14px;
  color: #777;
}

.wrapper .box-container .box .content .icons span i{
  color: crimson;
  padding-right: 5px;
}

#load-more{
  margin-bottom: 40px;
  margin-left: 12%;
  display:inline-block;
  padding: 13px 30px;
  border: 1px solid #000;
  border-radius: 10px;
  color: #000;
  font-size: 16px;
  background-color: #fff;
  cursor: pointer;

}

#load-more:hover{
  background-color: crimson;
  border-color: crimson;
  border-radius: 10px;
  color: #fff;
  transition: 1s;
}

.wrapper .box-container .box:nth-child(1),
.wrapper .box-container .box:nth-child(2),
.wrapper .box-container .box:nth-child(3){
  display: inline-block;
}

/* Reviews Page */

.quote {
  background-color: rgba(171, 219, 227, 60%);
  width: 70%;
  float: left;
  margin-top: 5%;
  border-radius: 10px;
  box-shadow: 10px 10px 5px #ffc7f6 ;
}

blockquote{
  color: black;
  /*background-color: rgba(171, 219, 227, 60%);*/
  font-size: 1.5em;
  font-family: Cake, sans-serif;
  padding: 10px;
  quotes: "\201C" "\201D";
  /*width: 70%;
  float: left;
  margin-top: 5%;
  border-radius: 10px;
  box-shadow: 10px 10px 5px #ffc7f6 ;*/
}

blockquote::before{
  content: open-quote;
  font-size: 1.6em;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}

blockquote::after{
  content: close-quote;
  font-size: 1.6em;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}

.reviewTitle {
  text-align: center;
  margin-bottom: 10px;
}

.reviewTitle h3 {
  font-family: Cake, sans-serif;
  color: black;
  text-transform: capitalize;
  font-size: 50px;
  position: relative;
  display: inline-block;
  margin-bottom: 3%;
  text-shadow: -5px 5px 5px #abdbe3;
}

.reviewTitle:after {
  content: "";
  display: block;
  height: 40px;
  background-image: url(cupcakeBorder.png);
  background-repeat: repeat;
  background-position: center bottom;
}

h2 {
  font-family: Cake, sans-serif;
  font-size: 2em;
  color: black;
  text-shadow: 2px 2px #ffc7f6;
}

